// main.styl

// @font-face
//     font-family 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
//     font-style normal
//     src url(~/fonts/GillSans.otf)
// ;
// https://www.defcon.org/html/defcon-26/dc-26-theme.html
//blue purple color
// #6A92D7
//reddish color
// #DF245B
//grayish color
// #B3CBCF
//green color
// #76C294

// .ingil
//     font-family: gil
// $body-font-family =  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

 
@import '~vuetify/src/stylus/main'
// $alert-font-size = 18px
// $accent = 'red'
// example
// $body-font-family = 'Open Sans'